<%= link_to "Add new place", new_benefit_path %>

<% @benefits.each do |benefit| %>
  <p><%= benefit.children %></p>
  <p><%= link_to "Edit", edit_benefit_path(benefit) %></p>
  <p><%= link_to "Delete", benefit_path(benefit), data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %></p>
<% end %>