<div class="flex overflow-hidden bg-white w-5/6">
  <%= render "stocks/search" %>
  <div class="flex flex-col flex-1 w-0 overflow-hidden">
    <main class="relative flex-1 overflow-y-auto focus:outline-none">
      <div class="py-6">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-8">
          <div class="min-w-full">
            <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
              <div id="stocks" class="grid justify-center grid-cols-2 gap-6">
                <%= render @stocks %>
              </div>
            </div>
          </div>
          <div id="next_link" class="flex justify-center">
            <%= button_to "next", pagy_url_for(@pagy, @pagy.next), class: "px-4 py-1 font-semibold border rounded dark:border-gray-900 dark:text-gray-900 cursor-pointer hover:bg-violet-400" %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
