@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverWrapper #hoverContent {
    display: none;
    position: absolute;
    padding: 30 px;
    border-radius: 4px;
}

.hoverWrapper:hover #hoverContent {
    display: block;
}

.items-text {
    overflow: hidden;
    position: relative;
    height: 256px;
}
.items-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
}

.item-text {
    overflow: hidden;
    position: relative;
    height: 384px;
}
.item-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
}