<%= form_with(model: [@shop, @review], local: true) do |review| %>
  <div>
    <%= review.label :message %>
    <%= review.text_field :message, required: true %>
  </div>

  <%= review.submit "Submit" %>
<% end %>